.video-contain {
    padding: 0 12px;
    margin-bottom: 10px;
    margin-top: 18px;

    .videomenua {
        font-weight: 700;
        font-size: 15px;
        line-height: 21px;
    }

    .videomenu {
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
    }

    .video-name {
        font-size: 18px;
        line-height: 22px;
        font-weight: bold;
        margin-left: 4px;
        width: 100%;
    }

    .box {
        .transmit {
            display: inline-block;
            width: 48.1%;
            margin: 0 1px 0 5px;
        }
    }

    .boxa {
        width: 100%;
        .transmit:first-child {
            width: 99%;
            margin: 0 0px 0 4px;
            .list-detail {
                height: 52vw;

                .img-2 {
                    background-size: 343px 193px;
                    width: 100%;
                    height: 52vw;
                    display: inline-block;
                    margin-left: -2px;
                }

                .icon {
                    position: absolute;
        
                    .add-icon {
                        position: absolute;
                        width: 52px;
                        top: -244px;
                        left: 0px;
                        
                        .icon-1 {
                            color: red;
                            font-size: 60px;
                            display: inline-block;
                        }
        
                        .vip {
                            font-size: 10px;
                            color: #fff;
                            text-shadow: 0px 1px 2px #555;
                            line-height: 9px;
                            display: inline-block;
                        }
                    }          
                }

                .state-contain {
                    position: absolute;
                    .state {
                        position: absolute;
                        display: inline-block;
                        right: -311px;
                        bottom: 17px;
                        font-size: 10px;
                        color: #fff;
                        padding: 2px 3px;
                        line-height: 1;
                        background-color: rgba(162,162,182,0.5);    
                    }
                }
            }
            
        }
    }
    
    .boxb {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .transmit {
            width: 48%;
            position: relative;
            margin: 0 1px 0 5px;

            .list-style {
                .list-box {
                    .video-list {
                        .list-titlea {
                            margin-top: 4px;
                            font-size: 12px;
                            line-height: 18px;
                            color: #a2a2b6;
                            margin-left: -6px;
                            text-overflow : ellipsis;
                            overflow: hidden;
                            white-space: nowrap
                        }
                    }
                }
            }
        }
    }

    .boxb::-webkit-scrollbar {
        display: none;
    }

    .boxc {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        .transmit {
            width: 48%;
            position: relative;
            margin: 0 1px 0 5px;

            .list-style {
                .list-box {
                    .video-list {
                        .list-titlea {
                            margin-top: 4px;
                            font-size: 12px;
                            line-height: 18px;
                            color: #a2a2b6;
                            margin-left: -6px;
                            text-overflow : ellipsis;
                            overflow: hidden;
                            white-space: nowrap
                        }
                    }
                }
            }
        }
    }

    .boxb::-webkit-scrollbar {
        display: none;
    }

    .list-btma {
        display: none;
    }

    .list-btm {
        margin-top: 7px;
        text-align: center;
        vertical-align: middle;
        border-top: 1px solid #E0E0E0;
        margin-bottom: 29px;

        .img-10 {
            height: 15px;
            width: 15px;
            background-size: 15px 15px;
            display: inline-block;
            vertical-align: middle;

        }

        .list-change {
            font-size: 12px;
            color: #a2a2b6;
            display: inline-block;
            margin-left: 4px;
            padding-top: 11px;
        }
    }

}