.video-list {
    width: 50%;
    display: inline-block;
    margin-bottom: 12px;

    .list-detail {
        width: 100%;
        display: inline-block;

        .img-2{
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-3 {
            background: url(http://puui.qpic.cn/vcover_hz_pic/0/xpu952oo5tr9yzl1563933188/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-4 {
            background: url(http://puui.qpic.cn/tv/0/264784547_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-5 {
            background: url(http://puui.qpic.cn/tv/0/262600316_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-6 {
            background: url(http://puui.qpic.cn/tv/0/249687444_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-7 {
            background: url(http://puui.qpic.cn/tv/0/262501412_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-8 {
            background: url(http://puui.qpic.cn/tv/0/265931064_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-9 {
            background: url(http://puui.qpic.cn/tv/0/246362888_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-11 {
            background: url(http://puui.qpic.cn/tv/0/265991704_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-12 {
            background: url(http://puui.qpic.cn/tv/0/263654926_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-13 {
            background: url(http://puui.qpic.cn/tv/0/261721651_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-14 {
            background: url(http://puui.qpic.cn/tv/0/261726583_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-15 {
            background: url(http://puui.qpic.cn/tv/0/266858173_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .img-16 {
            background: url(http://puui.qpic.cn/tv/0/265386188_498280/0) no-repeat center center;
            width: 100%;
            height: 25vw;
            background-size: 165px 95px;
            display: inline-block;
            margin-left: -2px;
        }

        .icon {
            position: absolute;

            .add-icon {
                position: absolute;
                width: 52px;
                top: -143px;
                left: 0px;
                
                .icon-1 {
                    color: red;
                    font-size: 60px;
                    display: inline-block;
                }

                .vip {
                    font-size: 10px;
                    color: #fff;
                    text-shadow: 0px 1px 2px #555;
                    line-height: 9px;
                    display: inline-block;
                }
            }          
        }

        .state-contain {
            position: absolute;
            .state {
                position: absolute;
                display: inline-block;
                right: -159px;
                bottom: 8px;
                font-size: 10px;
                color: #fff;
                padding: 2px 3px;
                line-height: 1;
                background-color: rgba(162,162,182,0.5);    
            }
        }
    }

    .list-title {
    margin-top: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #000028;
    padding: 0;
    margin-left: 2px;
    }

    .list-titlea {
        margin-top: 4px;
        font-size: 12px;
        line-height: 18px;
        color: #a2a2b6;
        margin-left: 2px;
    }
}

.img-2{
    width: 100%;
    height: 25vw;
    background-size: 165px 95px;
    display: inline-block;
    margin-left: -2px;
}