.nav-list {
  .search-nav {

    .show-border {      
      white-space: nowrap;
      overflow: auto;
  
      .show-list {
        margin: 0;
        padding: 0;
       
    
        .item-box {
          font-size: 14px;
          line-height: 28px;
          color: #222;
          border-bottom: 1px solid #b6b7b7;
          padding: 10px 0 10px 7px;
        }
      }
    }
  }
}