.app-swiper {
    margin-top: 93px;
    padding: 0 12px;
    background-image: -webkit-linear-gradient(90deg, #f2f4f5 0%, #fff 59%);

    .swiper-container {

        .swiper-wrapper {
            width: 100%;

            .swiper-box {
                width: 100%;
                display: inline-block;
            }
        }
        
    }
}
